body{
    background-color: rgb(79, 106, 140);
    color: white;
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

