<h1>Olá Handlebars!</h1>

{{#if approved}}
    <p><em> Parabéns seu cadastro foi aprovado!</em></p>
{{else}}
    <p>Seu cadastro necessita de aprovação para acesso total do sistema!</p>

{{/if}}

<p> O nome do usuário é {{user.name}} {{user.surname}} e a idade deste usuário é {{user.age}} anos.</p>
{{#if auth}}
    <p>
        Você está autenticado, <a href="/dashboard">clique aqui</a> para acessar a área de membros.
    </p>
{{/if}}