<h1>Venha para {{viagem.name}}</h1>

    <img id="img_local" src="/img/0{{viagem.img}}.jpg" alt="Imagem do destino">

    <p id="divugacao">Não perca! Viagem por apenas <span>R$ {{viagem.valor}}</span></p>

    <a href="/">Voltar</a>