<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="container-row topo">
        <div class="logo">
            <img src="/img/logo.png" alt="avião de papel">
            <p>Viagem Certa</p>
        </div>
        <form action="#">
            <input type="search">
        </form>
        <img id= "user"src="/img/login.png" alt="login">
    </header>

    <main>
        {{{body}}}
    </main>

    <footer class="container-footer">
        <div class="logo">
            <img src="/img/logo.png" alt="avião de papel">
            <p>Viagem Certa</p>
        </div>
        <p> &#169 Todos os diretos reservados </p>
    </footer>
</body>

</html>